* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.upper_nav{
    position: relative;
    z-index: 2;
    background-color: black;
    height: 7vh;
    opacity: 50%;
}

.lower_nav{
    z-index: 2;
    width: 100vw;
    background-color: black;
    height: 10vh;
    opacity: 50%;
    position:absolute; 
    bottom:60px;
}

.header_image{
    top: -60px;
    position: relative;
    z-index: 1;
}

.header_image img{
    height: auto;
    width: 100vw;
    aspect-ratio: 4.3;
}

.logo{
    z-index: 2;
    position:absolute; 
    bottom:70px;
    left: 50%;
    height: 170px;
    top: 100px;
    transform: translateX(-50%);
    border: 3px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden; 
}

.logo img{
    position: relative;
    top: 10px;
    width: 400px;
    object-fit: cover;
    /* height: auto; */
    /* aspect-ratio: 18/9; */
}

.bund{
    border: 3px solid red;
    display: flex;
    position: relative;
    /* align-content: flex-end; */
    align-items: flex-end;
    top: -180px;
    z-index: 3;
    flex-direction: row;
}

.poster img{
    height: auto;
    width: 30vw;
    background-color: black;
    position: relative;
    /* bottom: 225px; */
    z-index: 3;
    /* left: 15px; */
    border-radius: 36px;
    box-shadow: 10px;
    flex-wrap: wrap;
    aspect-ratio: 9/13;
}

.vid_box video{
    position: relative;
    z-index: 2;
    height: auto;
    width: 65vw;
    left: 35px;
    /* top: -120px; */
    border-radius: 36px;
    align-self: flex-end;
}

.vertical_navbar {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
    z-index: 3;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.vertical_buttons{
    margin:15px;
    border: none;
    border-color: #333;
    backdrop-filter: blur(10px);
    border-radius: 100px;
}

.vertical_icons {
    transition: all 0.3s ease;
    cursor: pointer;
}

.vertical_icons:hover {
    width: 50px;
}