* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.upper_nav{
    position: relative;
    z-index: 2;
    background-color: black;
    height: 7vh;
    opacity: 50%;
}

.lower_nav{
    z-index: 2;
    width: 100vw;
    background-color: black;
    height: 10vh;
    opacity: 50%;
    position:absolute; 
    bottom:60px;
}

.header_image{
    top: -60px;
    position: relative;
    z-index: 1;
}

.header_image img{
    height: 50vh;
    width: 100vw;
}

.logo{
    z-index: 2;
    position:absolute; 
    bottom:70px;
    left: 50%;
    transform: translateX(-50%);
}

.logo img{
    width: 400px;
    height: 30vh;
}

.bund{
    display: flex;
    position: relative;
    flex-direction: row;
    /* aspect-ratio: auto */
}

.poster img{
    height: 79vh;
    width: 30vw;
    background-color: black;
    position: relative;
    top: -240px;
    z-index: 3;
    left: 15px;
    border-radius: 36px;
    box-shadow: 10px;
    flex-wrap: wrap;
}

.vid_box video{
    position: relative;
    z-index: 2;
    width: 65vw;
    left: 35px;
    top: -120px;
    border-radius: 36px;
    flex-wrap: wrap;

}

.vertical_navbar {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
    z-index: 3;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.vertical_buttons{
    margin:15px;
    border: none;
    border-color: #333;
    backdrop-filter: blur(10px);
    border-radius: 100px;
}

.vertical_icons {
    transition: all 0.3s ease;
    cursor: pointer;
}

.vertical_icons:hover {
    width: 50px;
}