/* style.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

.box {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    backdrop-filter: blur(0px);
    border: 10px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__bar {
    width: 98%;
    height: 55px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    opacity: 0.8;
    margin-top: 7px;
    margin-left: 13px;
}

.nav__name {
    font-size: 34px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.nav__name:hover {
    /* filter: opacity(50%);  Why add This*/
    cursor: pointer;
    transform: scale(1.5); /* Use this instead of font-size for the left text issue (use both in the sweet spot so it looks nice, I tried to do it below but needs more margin because use left right adjust nhi karta transform  ) */
}

.nav__links {
    display: flex;
    align-items: center;
} 

.nav__links h4 {
    margin: 0 10px;
}

.search-container{
    margin-left: 60px;
    margin-right: 70px;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-input {
    background: transparent;
    border: none;
    outline:none;
    width: 220px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.nav_buttons {
    font-size: 18px;
    transition: all 0.3s ease;
}

.nav_buttons:hover {
    /* font-size: 22px; */
    transform: scale(1.2); /* Here i tried to use both but margin ajeeb lag rha with only transform */ /*needs more margin or something else*/
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.text-on-vid {
    height: 20px;
    width: 800px;
    top: 180px; 
    left: 60px;
}

@media (max-width: 950px){
    .text-on-vid {
        width: 100%;
        top: 150px;
        left: 0px;
        text-align: center;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;
    }

    .hamburger-menu {
        display: block;
    }
    
    .nav__bar {
        width: 98%;
        height: 55px;
        border-radius: 100px;
        backdrop-filter: blur(10px);
        opacity: 0.8;
        margin-top: 7px;
        margin-left: 5px;
    }
}

@media (max-width: 480px) {
    .text-on-vid {
        top: 100px;
        left: 0px;
        right: 0px;
        text-align: center;
    }

    .nav__bar {
    width: 98%;
    height: 55px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    opacity: 0.8;
    margin-top: 7px;
    margin-left: 5px;
    }
}

.me-4 {
    transition: all 0.3s ease-in-out;
}
.me-4:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.search-icon{
    transition: all 0.2s ease-in-out;
}
.search-icon:hover {
    cursor: pointer;
    transform: scale(1.40); /* also did this for the search icon in the search bar, tell me if it looks ok */
}

.vertical_navbar {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
    z-index: 3;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.vertical_buttons{
    margin: 15px;
    transition: all 0.3s ease;
}
.vertical_buttons:hover{
    transform: scale(1.4); /* right here is the buttons in the vertical navbar ->  it does not adjust up and down but only increases with a fixed point in the center*/
}
