/* style.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

.text-on-vid {
    /* border: 2px solid red; */
    height: 45vh;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    /* gap: -20px; */
    flex-direction: column;
    top: 180px;
    left: 60px;
}
.vid_controls {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    cursor: pointer;
}

.box { /*A box over the video with black background color and less opacity (to darken the video)*/
    margin-top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    backdrop-filter: blur(0px);
    border: 10px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav__bar { /*Navbar*/
    width: 98%;
    height: 55px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    opacity: 0.8;
    margin-top: 7px;
    margin-left: 13px;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__name { /*Logo*/
    font-size: 34px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.nav__name:hover { /*on logo hover*/
    /* filter: opacity(50%);  Why add This*/
    cursor: pointer;
    transform: scale(1.2);
    /* Use this instead of font-size for the left text issue (use both in the sweet spot so it looks nice, I tried to do it below but needs more margin because use left right adjust nhi karta transform  ) */
}

.nav__links { /* a div inside nav__bar which contains nav-links*/
    display: flex;
    align-items: center;
}

.nav__links h4 { /*h4 inside nav__links(div )*/
    margin: 0 10px;
}

.nav_buttons { /*buttons inside nav*/
    font-size: 18px;
    transition: all 0.3s ease;
}

.nav_buttons:hover { /*hover effect for buttons inside nav*/
    /* font-size: 22px; */
    transform: scale(1.2);
    /* Here i tried to use both but margin ajeeb lag rha with only transform */
    /*needs more margin or something else*/
    cursor: pointer;
}

.search-container { /*search -bar*/
    margin-left: 60px;
    margin-right: 70px;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-input { /*input for search-bar*/
    background: transparent;
    border: none;
    outline: none;
    width: 220px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.search-icon { /*search.png (is an image which acts as search button)*/    
    transition: all 0.2s ease-in-out;
}

.search-icon:hover {
    cursor: pointer;
    transform: scale(1.40);
    /* also did this for the search icon in the search bar, tell me if it looks ok */
}

.hamburger-menu { /*still have to fix*/
    display: none;
    cursor: pointer;
}


.me-4 { /*me-4 includes bell-icon and profile-icon*/
    transition: all 0.3s ease-in-out;
}

.me-4:hover { /*hover effect on */
    transform: scale(1.5);
    cursor: pointer;
}

.vertical_navbar { /*vertical Nav-bar as the name suggests*/
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
    z-index: 3;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.vertical_buttons { /*buttons on the nav-bar , includes but is not limited to : up.png, settings.png, home.png, addons.png(being used as a library now) , down.png*/
    margin: 15px;
    transition: all 0.3s ease;
}

.vertical_buttons:hover { /*hover effect on vertical buttons as aforementioned*/
    transform: scale(1.4);
    /* right here is the buttons in the vertical navbar ->  it does not adjust up and down but only increases with a fixed point in the center*/
}
    
@media (max-width: 1200px) {
    .text-on-vid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        top: 150px;
        left: 0px;
        text-align: center;
    }
            
    .nav__bar {
        width: 98%;
        height: 55px;
        border-radius: 100px;
        backdrop-filter: blur(10px);
        opacity: 0.8;
        margin-top: 7px;
        margin-left: 5px;
    }
    
    .nav__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;
    }
        
    .hamburger-menu {
        display: block;
    }
}
    
@media (max-width: 480px) {
    .text-on-vid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        top: 100px;
        left: 0px;
        right: 0px;
        text-align: center;
    }
    
    .nav__bar {
        width: 98%;
        height: 55px;
        border-radius: 100px;
        backdrop-filter: blur(10px);
        opacity: 0.8;
        margin-top: 7px;
        margin-left: 5px;
    }
}

.bttn{
    display: flex;
    gap: 15px;
}

#Logo{
    position: relative;
    top : 50px;
}