* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-Family: 'Roboto Mono', monospace;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,145,1) 100%);
    z-index: -1;
    color: white;
}

.vertical_navbar {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
    z-index: 3;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.vertical_buttons{
    margin:15px;
    border: none;
    border-color: #333;
    backdrop-filter: blur(10px);
    border-radius: 100px;
}

.vertical_icons {
    transition: all 0.3s ease;
    cursor: pointer;
}

.vertical_icons:hover {
    width: 50px;
}